<!DOCTYPE html>
<html>
  <head>
  <title>Application submitted</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-5 mb-4" >Debug Careers</h1>
      <p>Your application for the role of <b>{{job['title']}}</b> at Debug has been submitted</p>
      <b>Full Name</b>
      <div class="mb-2">{{application['full_name']}}</div>
      <b>Email</b>
      <div>{{application['email']}}</div>
      <b>LinkdIn</b>
      <div class="mb-2">{{application['linkdin_url']}}</div>
      <b>Education</b>
      <div class="mb-2">{{application['education']}}</div>
      <b>Work Experience</b>
      <div class="mb-2">{{application['work_experience']}}</div>
      <b>Resume Url</b>
      <div class="mb-2">{{application['resume_url']}}</div>


    {% include 'footer.html' %}
  </body>
</html>